<div class="error">
  <span class="error_message">{{errorMessage}}</span>
  <button
    id="go_back"
    onclick="goLogin()"
    type="button"
    class="btn btn-sucess mt-3 mb-5"
  >Volver</button>
</div>