<form action="/login" method="post">
  <div class="login">
    <span class="login_titulo">Login de usuario</span>
    <label class="login_label" for="username">Nombre de usuario</label>
    <input
      id="user"
      type="text"
      name="username"
      placeholder="Nombre de usuario"
    />
    <label class="login_label" for="password">Contrase&ntilde:a</label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Contraseña"
    />
    <button
      id="login_submit"
      type="submit"
      class="btn btn-sucess mt-3 mb-5"
    >Login</button>

    <a
      href="/register"
      type="button"
      class="btn btn-sucess mt-3 mb-5 inner_link"
    >Ir a registrar</a>
  </div>
</form>